header {
    position: relative;
    font-size: 20;
    background-color: gray;
    width: 100%;
    margin-bottom: 20px;
    color: wheat;
    text-align: center;
    height: 50px;
}

header .content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    margin: auto;
    padding-top: 7px
}

header .logo {
    width: 50px;
    height: 50px;
}

header .shop-cart {
    width: 35px;
    height: 35px;
    transition: all 500ms ease ;
}

.shop-cart.active {
    transform: scale(1.2);
}

header .shop-cart-content {
    position: absolute;
    top:50px;
    right: 19px;
    width: 400px;
    background: burlywood;
    z-index: 2;
    border-radius: 0% 0% 5% 5%;
    -webkit-box-shadow: 1px 3px 19px 11px rgba(84, 93, 99, 0.5);
    -moz-box-shadow: 1px 3px 19px 11px rgba(84, 93, 99, 0.5);
    box-shadow: 1px 3px 19px 11px rgba(84, 93, 99, 0.5);
}

header .cross-exit {
    width:  35px;
    height: 35px;
    border: none;
    background-image: url('../images/закрыть.png');
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    transition: transform 3s ease, opacity 1s ease
}

header .cross-exit:hover {
    opacity: 0.9;
    transform: scale(0.9);
}

header .empty {
    margin: 10px 0;
}

